// Toolbar
.ir__prop-toolbar
  position: absolute
  z-index: 10
  min-height: 20px
  padding-left: 8px

  .ir__prop-toolbar__actions
    display: flex
    align-items: center
    font-size: 11px
    background: #eee
    border: 1px solid #ddd

    .ir__prop-toolbar__action
      width: 21px
      height: 21px
      flex: 0 0 21px
      display: flex
      align-items: center
      justify-content: center
      color: #777
      cursor: pointer
      font-size: 16px

      &:hover
        color: #333

      &.convert2object,
      &.convert2array
        position: relative
        top: -1px
        font-family: 'Source Code Pro', monospace
        font-size: 12px
        font-weight: 700

        span
          position: relative
          top: -1px
