.input-raw
  width: 100%
  font-family: 'Source Code Pro', monospace

  .ir__prop-toolbar
    .ir__prop-toolbar__actions
      display: flex
      padding-left: 10px
      align-items: center
      font-size: 11px

      .ir__prop-toolbar__action
        width: 21px
        height: 21px
        flex: 0 0 21px
        display: flex
        align-items: center
        justify-content: center
        color: #777
        cursor: pointer

        &:hover
          color: #333

        &.convert2object,
        &.convert2array
          position: relative
          top: -1px
          font-family: 'Source Code Pro', monospace
          font-size: 12px
          font-weight: 700

          span
            position: relative
            top: -1px
